/*
 * Empty Stylesheet file.
 */


#fundoTelaCadastrarCubesat{
    -fx-background-image: url("../images/fundo.png");
    -fx-background-position: center;
    -fx-background-size: cover;
}

#textNomeCubesat{
   -fx-text-fill: white;
}


#choiceBoxAcesso>.label{
    -fx-text-fill: white;
}

#botaoHome>.image{
    -fx-border-radius: 50%;
}
